{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{% url 'add_record' %}">
  <div class=" container-fluid justify-content-center card w-75">
    <legend class="text-center mt-3 mb-3 fw-bold">AJOUTER UN ETUDIANT</legend>
    <br/>
    {% csrf_token %}

    {{ form.as_p }}

    <br/>
    <button type="submit" class="btn btn-primary fw-bold m-2">Ajouter</button>
    <a href="{% url 'home' %}" class="btn btn-secondary fw-bold m-2">Retour</a>
  </div>

</form>

{% endblock %}